.Connect{
    display:flex;
    width:100%;
    align-items: center;
    border: 2px solid red;
    padding : 60px;
}

.Connect_p{
    margin: 60px;
}

.Connect_p >img{
    width: 300px;
}

.Connect_p >h2{
    font-size:40px;
    font-weight:300;
}