.footer-section{
    display: flex;
    border: 2px solid red;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding-left:30px;
    padding-right:30px;
    height: 40px;
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.left_{
    border: 2px solid lime;
    display: flex;
    align-items: center;
    width: 50%;
    height: 30px;
}

.left_ > p{
    padding: 3px;
    color: rgb(136,136,136);
}
.left_ > p > a{
 color: rgb(136,136,136);
 text-decoration: none;
}

.right > p{
    padding: 5px;
    color: rgb(136,136,136);
}

.left_ >.logo{
     display: flex;
     align-items: center;
     height: 30px;
     border: 2px solid rgb(0, 0, 255);

}
.right{
    border: 2px solid rgb(255, 255, 0);
    display: flex;
    width: 50%;
    height: 30px;
}

.left_ >p >img{
    width: 120px;
}

.right > .down{
    display: flex;
    align-items: center;
}