.footer-section{
    display: flex;
    border: 2px solid red;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.left{
    border: 2px solid lime;
    display: flex;
    align-items: center;
    width: 50%;
    height: 30px;
}

.left > p{
    padding: 10px;
}

.left >.logo{
     display: flex;
     align-items: center;
}
.right{
    border: 2px solid rgb(255, 255, 0);
    display: flex;
    width: 50%;
}

.left >p >img{
    width: 120px;
}