.Jobs{
    display: flex;
    padding: 70px;
    width: 100%;
    max-width: 100%;

}

.title > h2{
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 200;
}
.title{
    width: 70%;
    margin-left: 55px;
}

.jobs_types >.header{
    font-size: 18px;
    font-weight: bolder;
    color: rgb(86, 85, 85);
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;

}

.jobs_types >button{
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 30px;
    font-weight: 700;
    margin: 5px;
    font-size: 18px;
    color: rgb(62, 62, 62);

}
.jobs_types >button:hover{
    background-color: rgb(226, 226, 226);
}

.jobs_types{
  margin-left: 20px;
}

.jobs_types > p{
   cursor: pointer;
   display: flex;
   align-items: center;
}


@media only screen and (max-width: 414px) {
    .Jobs{
        padding-left: -0em;
        display:block;
    }

    .title > h2{
        font-size: 38px;
        font-weight: 500;

    }

    .title{
        width: 100%;
        margin: 20px;
        

    }

    .jobs_types >.header{
        font-size: 20px;
        text-align: center;
    }

    .jobs_types >button{
        padding: 10.2px;
        margin: 5px;
        font-size: 18px;
    
    }

    .jobs_types >.header{
       padding: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .Jobs{
        padding-left: -0em;
        display:block;
    }

    .title > h2{
        font-size: 38px;
        font-weight: 500;

    }

    .title{
        width: 100%;
        margin: 20px;
        

    }

    .jobs_types >.header{
        font-size: 20px;
        text-align: center;
    }

    .jobs_types >button{
        padding: 10.2px;
        margin: 5px;
        font-size: 18px;
    
    }

    .jobs_types >.header{
       padding: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .title > h2{
        font-size: 30px;
        font-weight: 300;
    }

    .jobs_types >.header{
        font-size: 12px;
    }

    .jobs_types >button{
        padding: 10px;
        /* margin: 5px; */
        font-size: 14px;
        color: rgb(62, 62, 62);
    
    }

    }
