.Landingpage{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    font-family: Arial, Helvetica, sans-serif;
}

.nav > img{
    width: 200px;
    height: 70px;
}

.nav_items >ul{
  display: flex;
  list-style: none;
}

.nav_items{
    display: flex;
}

