.Landingpage{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid red;
}

.nav > img{
    width: 200px;
    height: 70px;
    margin-left: 70px;
}

.nav_items >ul{
  display: flex;
  list-style: none;
  color: rgb(102, 102, 102);
}

.nav_items{
    display: flex;
    margin-right: 90px;
    align-items: center;

}

.nav_items > ul > li{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
    align-items: center;
    padding: 20px;

}

.nav_items >button{
 padding: 13px;
 font-weight: 800;
 font-size: 17px;
 cursor: pointer;
 
}
.nav_items > ul > .divider{
    /* height: 30px; */
}

.nav_items > .join{
  background-color: #fff;
  border: none;
}
.join:hover{
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 40px;

}
.nav_items > .sign{
  border-radius: 40px;
  background-color: #fff;
  border:1px solid #2066ba;
  color: #2066ba;
}
.sign:hover{
  background-color: #c8e1fe; 
}

