.Landingpage{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
}

.nav > img{
    width: 200px;
}

.nav_items >ul{
  display: flex;
  list-style: none;
}

.nav_items{
    display: flex;
}