.Testimonials{
    border: 2px solid red;
    padding: 30px
}

.Topics{
    width: 100%;
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-color: rgb(240,239,236);
    border: 2px solid rgb(240,239,236);
}

.second{
    font-size: 20px;
    font-weight: 500;
    color: rgb(82, 82, 82);
    margin-bottom: 10px;
    margin-left: 20px;
}

.var_topics{
    padding: 13px;
    font-weight: 800;
    font-size: 17px;
    cursor: pointer;
    border-radius: 40px;
    background-color: #fff;
    border:1px solid #6e6e6e;
    color: #2e2e2e;
    flex-wrap: wrap;
}
.var_topics:hover{
    background-color: #d5d5d5;
}

.buttons > button{
    margin-left: 10px;
    margin-top: 10px;
}
.topics_container{
  margin-left: 65px;
  margin-top: 70px;
  margin-bottom: 120px;

}


.testimoial_det{
    width: 90%;
    margin-left: 40px;
    border: 2px solid rgb(0, 166, 141);

}

.det{
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #3c3c3c;
}


.test_data{
    /* margin: 60px; */
    display: flex;
    max-width: 100%;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid rgb(222, 222, 222);
    border: 2px solid lime;
    align-items: center;
    /* margin-right: 30em;
    width: 100%; */


}

.test_image >img{
    width: 450px;
    object-fit: contain;

}

.test_det{
    padding-left: 20px;
    width: 50em;
    margin: 30px;

}

.test_det >h2{
    font-size: 50px;
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-weight: 300;
}



.testimonial_cards{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll !important;
    border: 2px solid purple;

}
.testimonial_cards::-webkit-scrollbar{
    display: none;
}