.main{
    font-size: 50px;
    font-weight: 240;
    margin-bottom: 10px;
}

.Topics{
    width: 100%;
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-color: rgb(240,239,236);
    border: 2px solid rgb(240,239,236);
}

.second{
    font-size: 20px;
    font-weight: 500;
    color: rgb(82, 82, 82);
    margin-bottom: 10px;
    margin-left: 20px;
}

.var_topics{
    padding: 13px;
    font-weight: 800;
    font-size: 17px;
    cursor: pointer;
    border-radius: 40px;
    background-color: #fff;
    border:1px solid #6e6e6e;
    color: #2e2e2e;
    flex-wrap: wrap;
}
.var_topics:hover{
    background-color: #d5d5d5;
}

.buttons > button{
    margin-left: 10px;
    margin-top: 10px;
}
.topics_container{
  margin-left: 65px;
  margin-top: 70px;
  margin-bottom: 120px;
}
.buttons{
    width: 80%;
}

.career_advice{
    width: 90%;
    margin-left: 20px;
}

.det{
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #3c3c3c;
}
.see_all{
    display: flex;
    align-items: center;
}

.details{
    margin: 5px;
    display: block;
    width: 560px;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid rgb(222, 222, 222);
}

.image >img{
    width: 250px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.indv_detail>h5{
   display: flex;
   align-items: center;
}
.indv_detail >h5 >img{
    width: 50px;
    height: 40px;
    margin-right: 20px;
}

.indv_detail{
 margin: 5px;
}
.indv_detail>h4,h5,p{
    padding-top: 10px;
}

.cards{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll !important;
}
.cards::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-width: 414px) {
    .second{
        font-size: 20px !important;
        margin-left: -8px;
    }

    .topics_container{
        margin-left: -0px !important;
      }

      .topics_container{
        margin-left: 10px !important;
      }

      .buttons{
        width: 95% !important;
    }

    .career_advice{
        margin-left: 5px;
    }
    .main{
        font-size: 40px !important;
        margin-top: -30px;
        
    }
    .Topics{
        padding-left: -10px !important;

    }

    .det{
        font-size: 14px;
        font-weight: 700;
    }
}