.Welcome{
    display: flex;
    margin: 40px;
    width: 100%;
    max-width: 100%;
}

.text_welcome > p{
    margin-left: 40px;
    font-size: 65px;
    font-weight: 200;
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    color: rgb(123,69,57);
}

.image_welcome > img{
    width: 750px;
    object-fit: contain;
}

.questions{
    border: 1px solid rgb(177, 177, 177);
    padding: 18px;
    width: 500px;
    margin-left: 40px;
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    border-radius: 5px;
    margin-top: 30px;
    
}

 .questions:hover{
    /* box-shadow: 10px 10px 20px 20px rgb(177, 177, 177); */
    box-shadow: 0 10px 10px 0 rgba(0.3, 0.3, 0.3, 0.3), 0 10px 30px 0 rgba(0, 0.4, 0, 0.20);
}

.questions > p{
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 20px;
 cursor: pointer;
}

.questions .MuiSvgIcon-root{
    color: rgb(100, 98, 98);
}

@media only screen and (max-width: 880px) {
    .Welcome{
        display: block;
        align-items: center !important;
        margin-left: -0px !important;
    }
    .text_welcome > p{
        margin-left: 10px;
        font-size: 40px;
        text-align: center;
    }
    .image_welcome > img{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: contain;
    }

    .questions{   
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .questions{
        width: 550px !important;
        margin-bottom: 10px;
    }

    .text_welcome > p{
        margin-left: 50px !important;
        font-size: 55px !important;
        width: 80%;
        display: block !important;
        text-align:center;
    }

    .image_welcome > img{
        width: 450px;
        object-fit: contain;
        margin: auto;
        padding: auto;
        display: block;
    }

    .Welcome{
        width: 100%;
        margin-left: -0px !important;

    }
    .questions{
        width: 300px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 580px) {
    .text_welcome > p{
        margin-left: 2px !important;
        font-size: 45px !important;
        display: block;
        text-align:center;
    }

    .Welcome{
        width: 100%;
        margin-left: -0px !important;

    }
    .questions{
        padding: 18px !important; ;
        width: 550px !important;
        
    }
}

@media only screen and (max-width: 414px) { 
    .questions{
        width: 350px !important;
        margin-bottom: 10px;
    }

    .text_welcome > p{
        margin-left: 35px !important;
        font-size: 40px !important;
        width: 80%;
        display: block !important;
        text-align:center;
    }

    .image_welcome > img{
        width: 350px;
        object-fit: contain;
    }

    .Welcome{
        width: 100%;
        margin-left: -0px !important;

    }
    .questions{
        width: 350px !important;
        margin-bottom: 20px !important;
    }
}

@media only screen and (max-width: 320px) {
    .Welcome{
        margin: 10px;
    }

    .text_welcome > p{
        margin-left: 40px;
        font-size: 30px !important;
    }

    .image_welcome > img{
        width: 350px;
        object-fit: contain;
    }

    .questions{
        width: 300px !important;
        margin-left: 10px;
    }
}