.Main_content{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    background-color: rgb(240,239,235);
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.left_content{
    border: 1px solid rgb(255,255,255);
    flex: 0.25;
    height: 400px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
}

.center_content{
    border: 1px solid rgb(255,255,255);
    flex: 0.5;
    height: 700px;
    background-color: rgb(255,255,255);
    border-radius: 10px;

}

.right_content{
    border: 2px solid rgb(255,255,255);
    flex: 0.2;
    height: 400px;
    background-color: rgb(255,255,255);
    border-radius: 10px;

}

.backgroundImage{
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    border:1px solid rgb(240,239,235);
}
.backgroundImage >img{
    width: 80px;
    border-radius: 50%;
    border:1px solid #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.profile_name{
    margin-top: 50px;
    text-align: center;
}
.profile_name >p{
    color:rgb(101,101,101);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
}

.reactions_{
    color:rgb(101,101,101);
    padding-left: 10px;
    margin-bottom:15px ;

}

.reactions_ > h5 >.count{
    color: rgb(18,80,181) ;
    margin-left: 80px;
}
.reactions_ > h5 >.count_{
    color: rgb(18,80,181) ;
    margin-left: 110px;
}
.premium{
    padding-left: 10px;
    padding-bottom: 10px;
}
.premium > .premium_note{
 color:rgb(101,101,101);
 font-size: 15px;
 font-weight:200;
}
.premium > .premium_link{
    text-decoration: underline;
}

.premium > .premium_link > a{
 color:rgb(101,101,101);
 text-decoration: none;
}

.wishlist{
    padding-left: 10px;
    font-size: 15px;
}

.wishlist > p .MuiSvgIcon-root{
    color:rgb(81, 81, 81);
    
} 