.Main_content{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    background-color: rgb(240,239,235);
}

.left_content{
    border: 1px solid rgb(255,255,255);
    flex: 0.25;
    height: 400px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
}

.center_content{
    border: 1px solid rgb(255,255,255);
    flex: 0.5;
    height: 400px;
    background-color: rgb(255,255,255);
    border-radius: 10px;

}

.right_content{
    border: 2px solid rgb(255,255,255);
    flex: 0.2;
    height: 400px;
    background-color: rgb(255,255,255);
    border-radius: 10px;

}

.backgroundImage{
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    border:2px solid red;
}
.backgroundImage >img{
    width: 80px;
    border-radius: 50%;
    border:1px solid #fff;
    justify-items: center;
}