.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    /* border: 2px solid red; */

}

.logo_section{
    display: flex;
    align-items: center;
}

.nav_section>ul{
    display: flex;
}


.nav_section>ul>li{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgb(83,83,83);
  cursor: pointer;

}

.nav_section>ul>li:hover{
    color:black;
}

.logo_section >img{
    width:50px;
    height : 40px;
    padding-right:10px;
}

.search_bar{
    align-items: center;
    background-color: rgb(234,240,247);
    color:rgb(77,78,81);
    height: 38px;
    border-radius: 6px;
    width: 300px;
    padding: 5px;
}
.search_bar .MuiSvgIcon-root{
    font-size: 22px;
}


.nav_section >ul>li>img{
    width:25px;
    border-radius: 50%;

}

.search_bar >input{
    width:250px;
    height: 30px;
    border: none;
    background-color: rgb(234,240,247);
    color:#000;
    outline: none;
    font-size:15px;
    margin-left: 5px;
}

.line{
    border-left: 1px solid rgb(230,230,230);
  height:50px;
}

.nav_section>ul>.free{
    color: rgb(129,88,33);
    width:150px;
    text-align: center;
    text-decoration:underline;
}

.nav_section>ul>.active{
   border-bottom:3px solid #000;
}

.nav_section >ul>li>.notification{
    padding: 2px;
    background-color: red;
    color:#fff;
    font-weight: 400;
    border-radius: 50%;
    margin-top:-25px;
    margin-right:-25px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 540px) {
    .Navbar{
        display: flex;
        background-color: #fff;
        padding-left: 2px;
        padding-right:2px;
    }

    .nav_section>ul>li{
        padding: 6px !important;
        font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
        font-size: 12px !important;
      }

      .search_bar{
        align-items: center;
        background-color: rgb(234,240,247);
        color:rgb(77,78,81);
        height: 38px;
        border-radius: 6px;
        width: 300px;
        padding: 5px;
    }
}
