.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 10px;
    /* border: 2px solid red; */

}

.logo_section{
    display: flex;
    align-items: center;
}

.nav_section>ul{
    display: flex;
}


.nav_section>ul>li{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

}

.logo_section >img{
    width:35px;
    height : 35px;
}

.search_bar{
    align-items: center;
    background-color: rgb(234,240,247);
    color:rgb(77,78,81);
    height: 38px;
    border-radius: 6px;
    width: 300px;
}
.search_bar .MuiSvgIcon-root{
    font-size: 20px;
}


.nav_section >ul>li>img{
    width:25px;
    border-radius: 50%;

}