.options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    margin-top: -10px;
}

.name1{
    color: rgb(44,121,228);
}
.name2{
    color: rgb(79,141,51);

}
.name3{
    color: rgb(150,86,227);

}
.name4{
    color: rgb(167, 74, 55);

}

.options >p{
    align-items: center;
    color: rgb(133,133,133);
}

.text{
    margin-left: 10px;
    align-items: center;
}

.options > p {
    border: 2px solid red;
    padding: 10px;
}